/******* Web fonts ******/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/****** montserrat alternate *******/
//@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

$purple: #9932CC;
$seashell: #FFF5EE;
$gray: #333333;
$lightGray: lighten($gray, 10%);
$darkPurple: darken($purple, 30%);
$grayPurple: #827CAB;
$bigPadding: 40px;
/******* General *******/
html {
  //color: $gray;
  font-size:100%;

}
nav ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  //font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 2.4rem;
}


/******** header content *******/
#indexHead {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/mountain.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  position: relative;
  z-index: -1;
  padding:0;
}

#indexHead h1 {
  font-size: 4.8rem;
  color: $seashell;
  padding-top: 40px;

}

#indexHead p {
  color: $seashell;
  font-size: 2.4rem;;
}



.section-content {
  padding: $bigPadding 0 $bigPadding;

  p {
    color: $lightGray;
    font-size: 1.2rem;
  }
}

/******** navigation ***********/
nav {
  //display: none;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 3;
}
nav a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: purple;
  text-decoration: none;
}

nav a:hover .nav-label {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
nav .nav-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: rgb(214, 214, 214);
  //background-color: purple;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}

/******** process *********/
.process {
  padding: $bigPadding 0 $bigPadding;
  background: $darkPurple;
  color: $seashell;
  i {
    margin-top: 10px;
  }
  p {
    font-size: 1.2rem;
  }

}

.howSection {
  padding-bottom: 40px;
}
/******** icons *******/
.fa-flask {
  color: $seashell;
}


