@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-size: 100%; 
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  background-color: #FAFAFA;
}
h1, h2, h3, h4, h5, h6 {
  color: #138f6aff;
}

strong {
  color: #00B2EE;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem; 
}

p {
  font-size: 16px;
}

.margins {
    margin: 40px 0 40px 0;
  }

  .marginsBottom {
    margin-bottom: 40px;
  }

  .lexi {
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../img/james2.png');
  }

/** new stuff */
.headerSvg {
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  height: 100%;
}

.darkGray {
  background-color: #848484;
  color: white;
}

.paddings {
  padding: 40px;
}

.icons {
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.sidePic {
  height: 250px;
}

.footerSect {
  background-color: #00B2EE;
  color: white;
}

.navbar-light {
  background-color: #c1c1c191;
  border: 0;
  margin-bottom: 0;
  width: 100%;
}

.noPad {
  padding: 0;
}

.contactIcons i{
  color: white;
}