/******* Web fonts ******/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/****** montserrat alternate *******/
/******* General *******/
html {
  font-size: 100%; }

nav ul {
  list-style-type: none; }

a:hover {
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-size: 2.4rem; }

.line {
  height: 4px;
  width: 100%;
  background: gray;
  margin-bottom: 40px; }

/******** header content *******/
#indexHead {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("http://wallpoper.com/images/00/34/71/85/black-textures_00347185.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  padding: 0; }
  #indexHead h3 {
    color: #FFF5EE; }

#headContent h1 {
  font-size: 4.8rem;
  color: #FFF5EE;
  padding-top: 40px; }

#indexHead p {
  color: #FFF5EE;
  font-size: 2.4rem; }

.section-content {
  padding: 40px 0 40px; }
  .section-content p {
    color: #4d4d4d;
    font-size: 1.2rem; }

/******** navigation ***********/
nav {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 3; }

nav a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: purple;
  text-decoration: none; }

nav a:hover .nav-label {
  -webkit-transform: translateX(-20);
  -ms-transform: translateX(-20);
  transform: translateX(-20);
  opacity: 1;
  visibility: visible; }

nav .nav-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: #d6d6d6;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

nav .nav-label {
  color: #3d1451;
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

/******** process *********/
.process {
  padding: 40px 0 40px;
  background: #3d1451;
  color: #FFF5EE; }
  .process i {
    margin-top: 10px; }
  .process p {
    font-size: 1.2rem; }

#beginP::first-letter {
  font-size: 1.6rem; }

.howSection {
  padding-bottom: 40px; }

/******** icons *******/
.fa-flask {
  color: #FFF5EE; }

/*# sourceMappingURL=main.css.map */
