@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

html {
    font-size: 100%;
}
html, body {
    font-family: 'Merriweather', serif;
    color: #303030;
    /*color: #686868;*/
}
h1 {
    /*font-family: 'Abril Fatface', cursive;*/
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.7);
}

#indexHead {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Eagle_Nebula_from_ESO.jpg/1024px-Eagle_Nebula_from_ESO.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    background-attachment: fixed;
}

#about h1 {
    font-size: 4rem;
}
#indexHead h1 {
    font-size: 100px;
    color: white;
    /*border-top: 5px solid white;*/
    /*border-bottom: 5px solid white;*/
    text-shadow: -3px 1px rgba(0,0,0,0.5);
    /*font-variant: small-caps;*/
}
#headContent {
    position: absolute;
    top: 10%;
}
.about {
    margin-top: 40px;
}

#bro {
    margin-top: 50px;
    margin-bottom: 50px;
    background: url("../img/meAndChris.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    background-attachment: fixed;
}

#next {
    margin-bottom: 100px;
}

a .fa-arrow-circle-o-right {
    color: red;
}

#feeling {
    /*background: url("https://media.giphy.com/media/brRTBtFkVlyuc/giphy.gif");*/
    background: url("https://media.giphy.com/media/p69not0nbwli0/giphy.gif");
    -webkit-background-size: cover ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
}

#talkAbout {
    margin-top: 80px;
    margin-bottom: 80px;
}

#talkAbout h1 {
    font-size: 80px;
}

#talkAbout p {
    padding-top: 40px;
}
#talkAbout h4 {
    margin-top: 20px;
}
#talkAbout a:hover {
    text-decoration: none;
    color: #b21b2c;
}

/*!****** trying to make a div a polygon *********!*/
/*#base {*/
    /*background: red;*/
    /*display: block;*/
    /*height: 55px;*/
    /*!*margin-left: 20px;*!*/
    /*!*margin-top: 55px;*!*/
    /*position: relative;*/
    /*!*width: 100px;*!*/
/*}*/
/*#base:before {*/
    /*border-bottom: 35px solid red;*/
    /*border-left: 50px solid transparent;*/
    /*border-right: 50px solid transparent;*/
    /*content: "";*/
    /*height: 0;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: -35px;*/
    /*width: 0;*/
/*}*/

/******** Working on new content *******/
.section_heading {
    padding: 40px;
    color: darkblue;
    text-align: center;
    border: 5px solid black;
    width: 500px;
    margin: 0 auto;

}
